
$main-color: rgb(255,0,171);
$secondary-color: rgb(104,0,255);
$tertiary-color: rgb(35,2,63);

$text-color-light: rgb(255,255,255);
$text-color: rgb(74,74,74);

$button-color: rgb(255,102,204);
$button-color-hover: rgb(255,0,17);

$line-color: rgb(204,204,204);
