

.top-header {
    background-color: $tertiary-color;
   
}

.search__bar{
        border-radius: 19px;
        text-align: center;
        line-height:2.5rem;
        width: 10rem;
        margin-top: 2rem;
        margin-right:1rem;
}

#search-button{
        font-size:2rem;
        width:4rem;
        margin-top: 2rem;
        padding: .4rem;
        border-radius: 19px;
        text-align: center;
        background-color: #ff00ab;
        color: #22013f;
        border: none;
}
