/* ********** List ********** */

#error-search-msg{
    margin: 0 auto;
    width: 100%;
    height:100vh;
    padding-top:40px;
    background:$text-color-light;
    text-align:center;
    top: -5px;
}

.empty-search-msg {
    margin: 0 auto;
    width: 100%;
    height:100vh;
    padding-top:40px;
    background:$text-color-light;
    text-align:center;
    top: -5px;
}

.empty-search-arrow {
        margin: 0 auto;
        width: 400px;
        height:200px;
        background-color: $main-color;
        -webkit-clip-path: polygon(13% 67%, 49% 24%, 35% 14%, 72% 14%, 76% 47%, 64% 39%, 27% 79%);
        clip-path: polygon(13% 67%, 49% 24%, 35% 14%, 72% 14%, 76% 47%, 64% 39%, 27% 79%);
}

.list-headings {
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color-light;
    padding: 0.95rem;
}

#track-list{
    color: $text-color;
    padding: 0;
    margin: 0;
    background:$text-color-light;

    & .list-item {
        
        padding-bottom:15px;
        border-bottom: 1px solid $line-color;
        overflow: hidden;
        height: 3.5rem;
        line-height: 2rem;
        display: inline-block;
    }
    & a {
        color:  #ff00ab;
        font-size:2rem;
    }

    & .fa-spinner {
        padding-top: 25vh;
        margin: 0 auto;
        font-size: 40px;
        color:  #ff00ab;
        display: inline-block;

        & p {
            padding: 1rem;
            font-size: 30px;
        }
    }
}
#song-heading,
#artist-heading,
#popularity-heading{
    cursor: pointer;
}

#sortButton1a,#sortButton1b,
#sortButton2a,#sortButton2b,
#sortButton3a,#sortButton3b, {
        font-size: 1rem;
        background-color: none;
        border: none;
        appearance: none;
        -webkit-appearance: none;
        margin:0 0.3rem 0 0;
        padding:0;
        text-align: center;
        background-color: transparent;
        color: #ff00ab;
        border: none;
        float:left;
        display: inline;
}
