/* ********** List ********** */

.list-headings {
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color-light;
    padding: 0.95rem;
}

#track-list{
    color: $text-color;
    padding: 0 0.95rem;
    & .list-item {
        padding-top:15px;
        padding-bottom:15px;
        border-bottom: 1px solid $line-color;
        overflow: hidden;
        height: 3.5rem;
        line-height: 2rem;
        display: inline-block;
    }
    & a {
        color:  #ff00ab;
        font-size:2rem;
    }
}
#song-heading,
#artist-heading,
#popularity-heading{
    cursor: pointer;
}

#sortButton1a,#sortButton1b,
#sortButton2a,#sortButton2b,
#sortButton3a,#sortButton3b, {
        font-size: 1rem;
        background-color: none;
        border: none;
        appearance: none;
        -webkit-appearance: none;
        margin:0 0.3rem 0 0;
        padding:0;
        text-align: center;
        background-color: transparent;
        color: #ff00ab;
        border: none;
        float:left;
        display: inline;
}
