/* ********** Variables ********** */
/* ********** Base ********** */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: "Work Sans", Helvetica, sans-serif;
  box-sizing: border-box;
  /* apply a natural box layout model to all elements, but allowing components to change */
  font-size: 100%; }

.container-fluid, .row, .col {
  margin: 0;
  padding: 0; }

/* ********** Typography********** */
h1 a {
  color: #ff00ab;
  font-family: Righteous;
  font-size: 2.5rem;
  margin: 2rem 1rem; }

h1 a:hover {
  color: #ff00ab;
  font-family: Righteous;
  font-size: 2.5rem;
  margin: 2rem 1rem;
  text-decoration: none; }

h2,
h3 {
  display: inline;
  color: #ff00ab;
  font-family: Righteous;
  font-size: 2rem;
  padding: 0;
  margin: 0; }

p {
  padding: 0;
  margin: 0; }

/* ********** List ********** */
#error-search-msg {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  padding-top: 40px;
  background: white;
  text-align: center;
  top: -5px; }

.empty-search-msg {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  padding-top: 40px;
  background: white;
  text-align: center;
  top: -5px; }

.empty-search-arrow {
  margin: 0 auto;
  width: 400px;
  height: 200px;
  background-color: #ff00ab;
  -webkit-clip-path: polygon(13% 67%, 49% 24%, 35% 14%, 72% 14%, 76% 47%, 64% 39%, 27% 79%);
  clip-path: polygon(13% 67%, 49% 24%, 35% 14%, 72% 14%, 76% 47%, 64% 39%, 27% 79%); }

.list-headings {
  background-color: #6800ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0.95rem; }

#track-list {
  color: #4a4a4a;
  padding: 0;
  margin: 0;
  background: white; }
  #track-list .list-item {
    white-space: nowrap;
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
    height: 3.5rem;
    line-height: 2rem;
    display: inline-block; }
  #track-list .track-row:hover {
    cursor: pointer; }
    #track-list .track-row:hover .list-item {
      background-color: #cccccc; }
  #track-list a {
    color: #ff00ab;
    font-size: 2rem; }
  #track-list .fa-spinner {
    padding-top: 25vh;
    margin: 0 auto;
    font-size: 40px;
    color: #ff00ab;
    display: inline-block; }
    #track-list .fa-spinner p {
      padding: 1rem;
      font-size: 30px; }

#song-heading,
#artist-heading,
#popularity-heading {
  cursor: pointer; }

#sortButton1a, #sortButton1b,
#sortButton2a, #sortButton2b,
#sortButton3a, #sortButton3b {
  font-size: 1rem;
  background-color: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  margin: 0 0.3rem 0 0;
  padding: 0;
  text-align: center;
  background-color: transparent;
  color: #ff00ab;
  border: none;
  float: left;
  display: inline; }

/* ********************************************************************** */
@media only screen and (max-width: 767px) {
  #track-list .list-item {
    padding-bottom: 5px;
    height: 3rem; }
  #track-list a {
    padding-top: 5px;
    font-size: 1.6rem; } }

/* ********************************************************************** */
/* ********** Grid ********** */
.container {
  width: 900px;
  margin: 0 auto; }

/* ********** Header ********** */
.top-header {
  background-color: #23023f; }

.box {
  margin-right: 8.33333333%;
  float: right; }

.container-4 {
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 1rem; }

.container-4 input#search-input {
  width: 300px;
  height: 50px;
  border-radius: 19px;
  border: 1px solid #ff00ab;
  font-size: 10pt;
  float: left;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.container-4 input#search-input::-webkit-input-placeholder {
  color: #65737e;
  padding-left: 1rem; }

.container-4 input#search-input:-moz-placeholder {
  /* Firefox 18- */
  color: #65737e;
  padding-left: 1rem; }

.container-4 input#search-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #65737e;
  padding-left: 1rem; }

.container-4 input#search-input:-ms-input-placeholder {
  color: #65737e;
  padding-left: 1rem; }

.container-4 button.icon {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #22013f;
  background-color: #ff00ab;
  padding: .4rem;
  color: #22013f;
  height: 50px;
  width: 80px;
  opacity: 0;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease; }

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon {
  outline: none;
  opacity: 1;
  margin-left: -80px; }

.container-4:hover button.icon:hover {
  background-color: #22013f;
  color: #ff00ab;
  border: 1px solid #ff00ab; }

/* ********************************************************************** */
@media only screen and (max-width: 767px) {
  h1 {
    margin-bottom: 0; }
  .box {
    margin: 1rem;
    float: left;
    text-align: center; }
  .container-4 {
    float: left;
    width: 95%; }
  .container-4 input#search-input {
    width: 95%;
    padding-left: 0; } }

/* ********************************************************************** */
.arrow {
  font-size: 2rem;
  width: 4rem;
  margin-top: 2rem;
  padding: .4rem;
  border-radius: 19px;
  text-align: center;
  background-color: #ff00ab;
  color: #22013f;
  border: none;
  float: left;
  display: inline; }
