/* ********** Variables ********** */
/* ********** Base ********** */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: "Work Sans", Helvetica, sans-serif;
  box-sizing: border-box;
  /* apply a natural box layout model to all elements, but allowing components to change */
  font-size: 100%; }

.container-fluid, .row, .col {
  margin: 0;
  padding: 0; }

/* ********** Typography********** */
h1 {
  color: #ff00ab;
  font-family: Righteous;
  font-size: 2.5rem;
  margin: 2rem 1rem; }

h2,
h3 {
  display: inline;
  color: #ff00ab;
  font-family: Righteous;
  font-size: 2rem;
  padding: 0;
  margin: 0; }

p {
  padding: 0;
  margin: 0; }

/* ********** List ********** */
#error-search-msg {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  padding-top: 40px;
  background: white;
  text-align: center;
  top: -5px; }

.empty-search-msg {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  padding-top: 40px;
  background: white;
  text-align: center;
  top: -5px; }

.empty-search-arrow {
  margin: 0 auto;
  width: 400px;
  height: 200px;
  background-color: #ff00ab;
  -webkit-clip-path: polygon(13% 67%, 49% 24%, 35% 14%, 72% 14%, 76% 47%, 64% 39%, 27% 79%);
  clip-path: polygon(13% 67%, 49% 24%, 35% 14%, 72% 14%, 76% 47%, 64% 39%, 27% 79%); }

.list-headings {
  background-color: #6800ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0.95rem; }

#track-list {
  color: #4a4a4a;
  padding: 0;
  margin: 0;
  background: white; }
  #track-list .list-item {
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
    height: 3.5rem;
    line-height: 2rem;
    display: inline-block; }
  #track-list a {
    color: #ff00ab;
    font-size: 2rem; }
  #track-list .fa-spinner {
    padding-top: 25vh;
    margin: 0 auto;
    font-size: 40px;
    color: #ff00ab;
    display: inline-block; }
    #track-list .fa-spinner p {
      padding: 1rem;
      font-size: 30px; }

#song-heading,
#artist-heading,
#popularity-heading {
  cursor: pointer; }

#sortButton1a, #sortButton1b,
#sortButton2a, #sortButton2b,
#sortButton3a, #sortButton3b {
  font-size: 1rem;
  background-color: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  margin: 0 0.3rem 0 0;
  padding: 0;
  text-align: center;
  background-color: transparent;
  color: #ff00ab;
  border: none;
  float: left;
  display: inline; }

/* ********** Grid ********** */
.container {
  width: 900px;
  margin: 0 auto; }

/* ********** Header ********** */
.top-header {
  background-color: #23023f; }

.search {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative; }

.search__bar {
  border-radius: 19px;
  text-align: center;
  line-height: 2.5rem;
  width: 10rem;
  margin-top: 2rem;
  margin-right: 1rem;
  float: left;
  display: inline; }

#search-button {
  font-size: 2rem;
  width: 4rem;
  margin-top: 2rem;
  padding: .4rem;
  border-radius: 19px;
  text-align: center;
  background-color: #ff00ab;
  color: #22013f;
  border: none;
  float: left;
  display: inline; }

.arrow {
  font-size: 2rem;
  width: 4rem;
  margin-top: 2rem;
  padding: .4rem;
  border-radius: 19px;
  text-align: center;
  background-color: #ff00ab;
  color: #22013f;
  border: none;
  float: left;
  display: inline; }
