*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: "Work Sans", Helvetica, sans-serif;
  box-sizing: border-box;
  /* apply a natural box layout model to all elements, but allowing components to change */
  font-size: 100%; }

.container-fluid, .row, .col {
  margin: 0;
  padding: 0; }

h1 {
  color: #ff00ab;
  font-family: Righteous;
  font-size: 2.5rem;
  margin: 2rem 1rem; }

p {
  padding: 0;
  margin: 0; }

.list-headings {
  background-color: #6800ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0.95rem; }

#track-list {
  color: #4a4a4a;
  padding: 0 0.95rem; }
  #track-list .list-item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
    height: 3.5rem;
    line-height: 2rem;
    display: inline-block; }
  #track-list .fa-play-circle-o {
    color: #ff00ab;
    font-size: 2rem; }

.container {
  width: 900px;
  margin: 0 auto; }

.top-header {
  background-color: #23023f; }

.search__bar {
  border-radius: 19px;
  text-align: center;
  line-height: 2.5rem;
  width: 10rem;
  margin-top: 2rem;
  margin-right: 1rem; }

#search-button {
  font-size: 2rem;
  width: 4rem;
  margin-top: 2rem;
  padding: .4rem;
  border-radius: 19px;
  text-align: center;
  background-color: #ff00ab;
  color: #22013f;
  border: none; }
