/* ********** Base ********** */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-family: "Work Sans", Helvetica, sans-serif;
    box-sizing: border-box;/* apply a natural box layout model to all elements, but allowing components to change */
    // This defines what 1rem is
    font-size: 100%; //1 rem = 16px; 26px/16px = 100%
}

.container-fluid, .row, .col {
    margin: 0;
    padding: 0;
}





